.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #FFF;
    background: url("../images/background.png") repeat;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
    padding-left: 15px;
    display: inline-block;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

canvas {
    width: 100%;
    max-width: 1472px;
    max-height: 736px;
    background-color: grey;
    display: block;
    margin-bottom: 30px;
}

.media-control {
    min-height: 400px;
    background: #0E0618;
    border: solid 5px #6C6C6C;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 15px;
    color: #FF4500;
}

.media-control button.btn.btn-primary {
    background-color: #F50;
    border-color: #B30900;
    border-width: 5px;
    font-weight: bold;
}

.media-control-header.row {
    min-height: 50px;
}
.media-control-audio.row {
    min-height: 25px;
}
.media-control-playlist.row {
    min-height: 250px;
}

.media-control-playlist {
    overflow-y: scroll;
    max-height: 300px;
}
.media-control-playlist h3 {
    margin: 0;
}
.media-control-playlist span:hover {
    background-color: #5B5365;
    cursor: pointer;
}
.media-control-playlist span.playing {
    content: "▶";
    margin-left: -10px;
    margin-right: 5px;
    line-height: px;
    position: relative;
    top: -2px;
}

.row {
    margin: 0;
}

.full-screen {
    max-width: 100px;
    max-height: 100px;
    float: right;
    position: relative;
    top: -125px;
    left: -5px;
    display: none;
}

#stats {
    top: 80px;
}

.playlist-chooser {
    display: inline-block;
}
.playlist-chooser h3 {
    display: inline;
    float: left;
    margin: 0;
}
.playlist-chooser select {
    float: left;
    margin-left: 10px;
    display: inline-block;
    background: #428BCA;
    color: #FFF;
    border: none;
    padding: 5px 15px;
    border-radius: 6px;
    font-weight: bold;
}
.playlist-chooser select:hover {
    background: #000C4B;
}
.playlist-chooser select:focus {
    outline: none;
}

.instructions {
    padding-left: 20px;
    color: #FF4500;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
